body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-size: 50px;
  /* text-align: center; */
}
.header{

  padding: 2%;
}

.outlet , .sidebar{

  padding: 3%;
}

.header{
  background-color: aqua;
}
.sidebar{
  background-color: chartreuse;
}
.outlet{

  background-color: crimson;
}

.footer{

  background-color: darkcyan;
}

.user:hover{

  transform: rotate(360deg);
  /* transform: translateX(-100px); */
}